@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  width: 100%;
  height: 100%;
}

html {
  --bc-color-brand: #000000;
}
